<div class="devise">
    <h2>企業情報変更</h2>
    <%= form_with model: @company, local: true do |f|%>
        <div class="field">
            <%= f.label :"企業名" %><br />
            <%= f.text_field :company_name, autofocus: true %>
        </div>

        <div class="field">
            <%= f.label :"代表者名" %><br />
            <%= f.text_field :representative_name, autofocus: true %>
        </div>

        <div class="actions">
            <%= f.submit "変更" %>
        </div>
    <% end %>
</div>