<div class="new_item">
    <div class="new_company">
        <h2>新規企業登録</h2>
        <%= form_with model: @company, class: 'new_user', local: true do |f| %>

            <div class="field">
                <%= f.label :"企業名" %><br />
                <%= f.text_field :company_name, placeholder: "例）株式会社Staging", autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :"代表者名" %><br />
                <%= f.text_field :representative_name, placeholder: "例）三宅泰斗", autofocus: true %>
            </div>

            <div class="actions">
                <%= f.submit "登録" %>
            </div>
        <% end %>
    </div>
</div>
